@model LearningCloud.Infra.CrossCutting.Identity.Models.AccountViewModels.SendCodeViewModel

@{
    ViewBag.Title = "Enviar código de verificação";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <section class="content-header">
                <h1> @ViewBag.Title <small></small> </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                </ol>
            </section>
            <section class="content">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Código de verificação</h3>
                    </div>
                    <div class="box-body">
                        @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("rememberMe", @Model.RememberMe)
                            <hr />
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SelectedProvider, htmlAttributes: new { @class = "control-label col-md-4 required" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, String.Empty, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SelectedProvider, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-8">
                                        <input type="submit" value="Enviar" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div><!-- /.box-body -->
                </div><!-- /.box box-default -->
            </section><!-- /.content -->
        </div><!-- /.col-lg-12 col-md-12 -->
    </div><!-- /.row -->
</div><!-- /.container -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

